html {
  height: 100%;
  overflow: hidden;
}

:root {
--content-colour: rgba(0, 0, 0, 0.6);
--dark-colour: #333;
--my-font: 'Major Mono Display', monospace;
--my-font2: 'Roboto Mono', monospace;
}

body {
background-color: var(--dark-colour);
background-image: url(../res/space2.jpg);
background-size: cover;
margin: 0;
padding: 0px;
height: 100%;
overflow-y: scroll;
overflow-x: hidden;
font-family: var(--my-font2);
font-weight: 900;
}

.navbar {
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
background-color: black;
z-index: 1;
}

.navbar a {
float: right;
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}

.navbar a.left {
float: left;
}

.navbar a:hover {
background-color: white;
color: black;
}


header{
  padding: 14vh 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  color: white;
  font-family: var(--my-font2);
  font-size: 2em;
}

header * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

#btn {
  font-weight: 900;
  font-family: var(--my-font2);
  padding: 10px 20px;
  color: white;
  background-color: black;
  border: solid;
  border-color: white;
}

#btn:hover {
  color: black;
  background-color: white;
}

a:hover {
  color: greenyellow;
}